html.dark {
  --el-bg-color: #0f172a;
  --el-bg-color-page: #0f172a;
  --el-bg-color-overlay: #1e293b;
  --el-text-color-primary: #e2e8f0;
  --el-text-color-regular: #cbd5e1;
  --el-text-color-secondary: #94a3b8;
  --el-text-color-placeholder: #64748b;
  --el-border-color: #334155;
  --el-border-color-light: #475569;
  --el-border-color-lighter: #64748b;
  --el-border-color-extra-light: #94a3b8;
  --el-border-color-dark: #1e293b;
  --el-border-color-darker: #0f172a;
  --el-fill-color: #1e293b;
  --el-fill-color-light: #334155;
  --el-fill-color-lighter: #475569;
  --el-fill-color-extra-light: #64748b;
  --el-fill-color-dark: #0f172a;
  --el-fill-color-darker: #020617;
  --el-mask-color: rgba(0, 0, 0, 0.8);
  --el-box-shadow: 0 12px 32px 4px rgba(0, 0, 0, 0.36), 0 8px 20px rgba(0, 0, 0, 0.2);
  --el-box-shadow-light: 0 0 12px rgba(0, 0, 0, 0.72);
  --el-box-shadow-lighter: 0 0 6px rgba(0, 0, 0, 0.72);
  --el-box-shadow-dark: 0 16px 48px 16px rgba(0, 0, 0, 0.72), 0 12px 32px rgba(0, 0, 0, 0.6), 0 8px 16px -8px rgba(0, 0, 0, 0.6);
}

html {
  --el-bg-color: #f8fafc;
  --el-bg-color-page: #f8fafc;
  --el-bg-color-overlay: #ffffff;
  --el-text-color-primary: #1e293b;
  --el-text-color-regular: #475569;
  --el-text-color-secondary: #64748b;
  --el-text-color-placeholder: #94a3b8;
  --el-border-color: #e2e8f0;
  --el-border-color-light: #f1f5f9;
  --el-border-color-lighter: #f8fafc;
  --el-border-color-extra-light: #f8fafc;
  --el-border-color-dark: #cbd5e1;
  --el-border-color-darker: #94a3b8;
  --el-fill-color: #f8fafc;
  --el-fill-color-light: #f1f5f9;
  --el-fill-color-lighter: #f8fafc;
  --el-fill-color-extra-light: #ffffff;
  --el-fill-color-dark: #e2e8f0;
  --el-fill-color-darker: #cbd5e1;
  --el-mask-color: rgba(0, 0, 0, 0.5);
  --el-box-shadow: 0 12px 32px 4px rgba(0, 0, 0, 0.04), 0 8px 20px rgba(0, 0, 0, 0.08);
  --el-box-shadow-light: 0 0 12px rgba(0, 0, 0, 0.12);
  --el-box-shadow-lighter: 0 0 6px rgba(0, 0, 0, 0.12);
  --el-box-shadow-dark: 0 16px 48px 16px rgba(0, 0, 0, 0.08), 0 12px 32px rgba(0, 0, 0, 0.12), 0 8px 16px -8px rgba(0, 0, 0, 0.12);
}
